Body {
  text-align: center;
  text-size-adjust: 150%;
  background-color: darkslategray;
}

#home {
  height: 100vh;
  padding: 25% 0 0;
  text-align: center;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#home::before {
  content: "";
  background-image: url('./images/shot-by-cerqueira-0o_GEzyargo-unsplash.jpg');
  background-size: cover;
  opacity: .6;
	background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -5;
}


nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #282c34;
	z-index: 100;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	letter-spacing: .05rem;
	padding: 3px 60px;
	padding: .2rem 4rem;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
  color: azure;
}

#projects {
  padding: 25vh 0;
}

.col-third {
  width: 32%;
}

#contact {
  padding: 25vh 0;
  color: aliceblue;
}

.email {
  text-align: start;
  padding: 5vh 10vw;
}

textarea {
  width: 85vw;
  height: 30vh;
}

.link {
  color: aliceblue;
}

.grid-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
