Body {
  text-align: center;
  text-size-adjust: 150%;
  background-color: darkslategray;
}

.home {
  height: 1000px;
  align-self: start;
  margin-top: 50vh;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #282c34;
	z-index: 100;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	letter-spacing: .05rem;
	padding: 3px 60px;
	padding: .2rem 4rem;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
